.layout_container {
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.category_select_container {
    height: 40px;
    width: 50%;
    min-width: 360px;
}

