.product_container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.product_inside {
    border: 0.1rem solid black;
    border-radius: 20px;
}

.product_inside:hover {
    border: 0.04rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

